<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nick.mowen.wearossms">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".WearOSSMS"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="android.support.VERSION"
            android:value="26.1.0"
            tools:replace="android:value" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ConversationActivity"
            android:theme="@style/Messaging" />

        <activity android:name=".ui.ContactPickerActivity" />

        <activity android:name=".ui.MMSActivity" />

        <activity android:name=".ui.RecipientsActivity" />

        <activity android:name="android.support.wearable.activity.ConfirmationActivity" />

        <receiver
            android:name=".receiver.NotificationActionReceiver"
            android:enabled="true" />

        <service android:name=".service.MessageService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:path="/preferences"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:path="/sms"
                    android:scheme="wear" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:host="*"
                    android:path="/profile"
                    android:scheme="wear" />
            </intent-filter>
        </service>

    </application>

</manifest>
